* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #286dab;
}

.title {
    font-size: 35px;
    margin-left: 50px;
}

section {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 60%;
    padding: 30px;
    border: 2px solid black;
}

.cate {
    margin: 15px 30px;
    font-size: 25px;
}

.link {
    color: black;
}

hr {
    margin: 30px;
}